<div class="main-bar">
  {{partial 'nav-links'}}

  <div class="title">{{model.name}}</div>
</div>

<div class="sub-bar">
  <div class="main-container">
    <div class="back-to">{{fa-icon 'angle-left' size='lg'}}
      {{#link-to 'apps'}}Back to Apps{{/link-to}}
    </div>
  </div>
</div>

<div class="main-content">
    <h3>Current Addons</h3>
    <div class="list current-addons">
      <ul>
        {{#each model.addons as |addon|}}
          <li>
            <div class="name">{{addon.addonService.name}}</div>

            <div class="plan-name">{{addon.planName}}</div>
            <div class="clearfix"></div>
          </li>
        {{/each}}
      </ul>
  </div>

    <h3>Add Addons</h3>
    <div class="list new-addons">
    <ul>
      {{#each addonServices as |addonService|}}
        <li>
          <div class="name">{{addonService.humanName}}</div>
          <div class="clearfix"></div>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
