<div class="main-bar">
  {{partial 'nav-links'}}

  <div class="title">{{model.name}}</div>
</div>

<div class="sub-bar">
  <div class="main-container">
    <div class="back-to">{{fa-icon 'angle-left' size='lg'}}
      {{#link-to 'apps'}}Back to Apps{{/link-to}}
    </div>
  </div>
</div>

<div class="main-content">
  <div class="addon-list current-addons">
    <h3>Current Addons</h3>
    <ul>
      {{#each model.addons as |addon|}}
        <li>
          <div class="name">{{addon.addonService.name}}</div>

          <div class="plan-name">{{addon.planName}}</div>
          <div class="clearfix"></div>
        </li>
      {{/each}}
    </ul>
  </div>

  <div class="addon-list new-addons">
    <h3>Add Addons</h3>
  </div>
</div>
