<div class="main-bar">
  {{partial 'nav-links'}}

  <div class="main-container">
    <div class="search-field">
      {{fa-icon "search" size='lg'}}
      {{input type="text" value=filterText}}
    </div>
  </div>
</div>

<div class="main-content">
  <div class="list">
    <ul>
      {{#each model as |app|}}
        <li>
          {{#link-to 'app' app}}
            {{app.name}}
            <div class="arrow"> {{fa-icon "angle-right" size="lg"}}</div>
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
